<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Zhutian Yang</title>
    <link rel="icon" href="https://github.com/zt-yang/zhutian-yang-website/blob/main/img/favicon.ico?raw=true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Zhutian Yang is a PhD student at MIT">
    <link rel="stylesheet" href="{{ 'css/main.css' | url }}">
    <script>
      var blue = "#3498db";
      var darkblue = "#2980b9";
      function underlineSpan(x) {
        x.style.textDecoration = 'underline';
        x.style.color = $darkblue
      }

      function normalSpan(x) {
        x.style.textDecoration = 'none';
        x.style.color = $blue
      }
    </script>

  </head>
  <body>
    <table>
      <tbody>
        <tr>
          <td class="bio">
            <h1 class="name center">{{name}}</h1>
            <div class="email center">{{email}}</div>
            <p>Hello! My name is Zhutian and I'm a second-year PhD student at MIT
                working on machine learning for speed up task and motion planning so that we can have mobile robots helping with household chores. I'm co-advised by Leslie Pack Kaelbling and Tomás Lozano-Pérez. </p>
          </td>
          <td class="photo">
            <img src="https://raw.githubusercontent.com/zt-yang/zhutian-yang-website/main/img/zhutianyang.jpg?token=GHSAT0AAAAAABZLZPSEQFWPM4YB67NHZED4Y3CZFKQ" width="100%">
          </td>
        </tr>
      </tbody>
    </table>


    <h2>Research</h2>
    Household robots planning long-horizon behavior, such as heating up takeouts and cleaning the kitchen counter, must be able to <b>plan quickly and execute robustly</b> in <b>semantically rich, geommetrically complex environments</b>. I'm working on the following problems in the field of robotic Task and Motion Planning (TAMP):
    <ul>
      <li> Hierarchical planning and replanning </li>
      <li> Learn to predict plan feasibility from images </li>
      <li> Learn to solve constraint satisfaction problems (e.g. bin packing problems) </li>
    </ul>

    <div class="video-container">
      <iframe frameborder="0"
        src="https://www.youtube.com/embed/0WjD5FeXQB0">
      </iframe>
      <p class="caption"> Music Video: Robots learning to plan motion faster for household tasks </p>
    </div>

    <!-- <img class="figure" src="https://github.com/zt-yang/zhutian-yang-website/blob/main/img/piginet_tasks.gif?raw=true">
    <p class="caption"> Figure: Robots learning to plan motion faster for rearrangement tasks </p> -->

    <h2>Publications</h2>

    <ul class="publications">
      {% for pub in publications %}
      <div class="row">
        <div class="columnimg">
          <img class="figure" src="{{ pub.visual }}">
        </div>
        <div class="columntext">

            <li class="pub">
              <p>
                <span class="pub-title">{{ pub.title }}</span></p>
              <p>{{ pub.authors | safe }}</p>
              <p><i>{{ pub.conference }}</i></p>
              <p>{{ pub.extra | safe }}</p>
            </li>

        </div>
      </div>

    {% endfor %}
    </ul>
  </body>
</html>
