$blue: #3498db;
$darkblue: #2980b9;
$yellow: #F5B21F;
$darkyellow: #f39c12;
$green: #76B900;
$red: #ed1b2f;
@mixin bold {
    font-weight: 600;
}

body {
    margin: 40px auto;
    max-width: 800px;
    line-height: 1.5;
    font-size: 16px;
    color: #333;
    padding: 0 10px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

a {
    text-decoration: none;
    color: $blue;
}

a:visited {
    color: $blue;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

/* Hide the mobile-photos by default */
.mobile-photos {
  display: none;
}

/* On small screens (phones), show the mobile-photos and hide the photo-column */
@media screen and (max-width: 768px) {
  /* Show the images above the table */
  .mobile-photos {
    display: block;
    width: 60%;
    padding-left: 16%;
    margin: 15px; /* Add some space between the images and the table */
  }

  
  /* Force hide the table's photo column */
  table .photo-column {
    display: none !important;
  }

  body {
    margin: 40px 20px !important;
  }

  .columnimg {
    width: 100% !important;
  }

  .columntext {
    width: 96% !important;
  }

  .default-img {
    position: relative !important;
  }

  .hover-img {
    /* display: none !important; */
  } 

}


table {
    width: 100%;
    max-width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: separate;
}

.name {
    margin-bottom: 0.1rem;
}

.center {
    text-align: center;
}

.logos {
    padding-top: 20px;
}

.logo {
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 6px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

a img.logo:hover {
    cursor: pointer; /* Ensures pointer on hover */
    transform: scale(1.05); /* Slightly enlarges the image */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Adds a subtle drop shadow */
}


table,
tr,
td {
    padding: 0;
}

.bio {
    padding-right: 2.5% ! important;
    width: 65%;
    vertical-align: center;
}

/*
.photo {
    padding-left: 5%;
    width: 30%;
    max-width: 30%;
}
*/

.photo-column {
    margin-top: 90px;
    display: block;
    padding-left: 2.5%;
}

.photo {
    position: relative;
}

.photo img {
    width: 100%;
    height: auto;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease; /* Smooth transition effect */
}

.photo img.hover-img {
    opacity: 0; /* Hide hover image by default */
}

.photo:hover img.hover-img {
    opacity: 1; /* Show hover image on hover */
}

.photo:hover img.default-img {
    opacity: 0; /* Hide original image on hover */
}

.self-author {
    @include bold;
}

.pub-title {
    font-size: 1.17em;
    line-height: 1.3em;
    @include bold;
    color: $blue;
}

.at-nvidia {
    background-color: $green;
}

.at-mit {
    background-color: $yellow;
}

.at-tri {
    background-color: $red; 
}

.project {
    font-weight: bold;
    color: white !important;
    /* background-color: #3498db; */
    border-radius: 6px;
    padding: 2pt 4pt;
    margin-right: 2pt;
    font-size: 10pt;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
    transform: scale(1.05); /* Increase size */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); /* Drop shadow */
}

.project img {
    max-height: 15px;
    padding-right: 5px;
    width: auto;
    position: relative;
    top: 3px;
}

.pub p {
    line-height: 1.2em;
    margin: 8px auto;
}

/*
.conference {
    color: $red;
}
*/

a:hover {
    color: $darkyellow;
    cursor: pointer;
}

.highlightable:hover {
    color: $darkyellow;
    cursor: pointer;
}

ul {
    padding-left: 0;
}

.parent-list {
    margin-top: 5px;
    padding-left: 20px;
}

.parent-list li {
    padding-top: 10px;
}

.child-list {
    padding-top: 4px;
    padding-left: 20px;
}

.child-list li {
    padding-top: 0px;
}

.publications li {
    list-style-type: "";
    padding-bottom: 10px;
}

.video-container iframe{  // 800 by 450
  display: block;
    height: 56vh;
    width: 100%;
}

.caption {
    text-align: center;
    margin-top: 0.2em !important;
}

/* Create two equal columns that floats next to each other */
.columnimg {
  float: left;
  width: 27%;
  padding: 0px;
  padding-left: 0px;
  position: relative;
}

.columntext {
  float: right;
  width: 68%;
  padding: 10px;
  padding-top: 0px;
  padding-left: 0px;
}

.figure {
  padding-top: 14px;
  width: 100%;
  height: 100%;
}

.default-img, 
.hover-img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out;
}

.default-img {
  opacity: 1;
}

.hover-img {
  opacity: 0;
}


.columnimg:hover .default-img {
  opacity: 0;
}

.columnimg:hover .hover-img {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.posterbutton {
  display: inline;
  color: $blue;
  text-decoration: none;
}

.posterlink {
  margin-top: 5px;
}

.buttona {
    cursor: pointer; 
}

#copynotice {
    position: fixed;  /* This ensures the notice floats relative to the window */
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.hidden {
    display: none;
}

.email-separator {
    display: inline;
}

@media screen and (max-width: 768px) {
    .email-separator {
        display: block;
        height: 0.5em;
        /* Adjust this value to control spacing between lines */
    }
}

.news-block {
    background-color: #3498db22 ; 
    border-radius: 6px; 
    padding: 10px;
    padding-bottom: 2pt;
}